{% extends 'index.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    {% include 'components/back_btn.html' %}
    <h1>Create New Product</h1>
    <div></div>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">{{form.title.label}}</label>
        {{form.title}}
    </div>
    <div class="mb-3">
        <label class="form-label">{{form.price.label}}</label>
        {{form.price}}
    </div>
    <div class="mb-3">
        <label class="form-label">{{form.description.label}}</label>
        {{form.description}}
    </div>
    <div class="mb-3">
        <label class="form-label">{{form.inStock.label}}</label>
        {{form.inStock}}
    </div>
    <div class="mb-3">
        <label class="form-label">{{form.category.label}}</label>
        {{form.category}}
    </div>
    <div class="mb-3">
        <label class="form-label">{{form.imageFile.label}}</label>
        {{form.imageFile}}
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
{% endblock %}