<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home Products Page</h1>
    <p>Title: {{title}}</p>

    {% if tasks|length <= 0 %} 
    <p>No tasks available</p>
    {% endif %}

    <p>Tasks: {{tasks | length}}</p>
    <ul>
        {% for task in tasks %}
        <li>
            {{task.title | upper}} : {{task.completed | yesno:"Done,In Progress"}}
            {{task.deadline | date:"Y-M-d"}}
        </li>
        {% endfor %}
    </ul>
</body>

</html>